# imports

In [475]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [476]:
df= pd.read_csv('train.csv')

In [477]:
df[['Pclass','Fare']].head(20)

    Pclass     Fare
0        3   7.2500
1        1  71.2833
2        3   7.9250
3        1  53.1000
4        3   8.0500
5        3   8.4583
6        1  51.8625
7        3  21.0750
8        3  11.1333
9        2  30.0708
10       3  16.7000
11       1  26.5500
12       3   8.0500
13       3  31.2750
14       3   7.8542
15       2  16.0000
16       3  29.1250
17       2  13.0000
18       3  18.0000
19       3   7.2250

# data cleaning

In [478]:
df = df.drop('Name', axis=1)
df = df.drop('Cabin', axis=1)
df = df.drop('Ticket', axis=1)
Embarked_encoder = LabelEncoder()
Embarked_encoder = Embarked_encoder.fit(df.Embarked)
df.Embarked=Embarked_encoder.transform(df.Embarked)
df = df.fillna(25)
sex_encoder = LabelEncoder()
sex_encoder = sex_encoder.fit(df.Sex)
df.Sex=sex_encoder.transform(df.Sex)
#prices=df.Age
Mean_Age = np.mean(df.Age)
Std_Age = np.std(df.Age)
df.Age = (df.Age - Mean_Age) / Std_Age
Mean_Fare = np.mean(df.Fare)
Std_Fare = np.std(df.Fare)
df.Fare = (df.Fare - Mean_Fare) / Std_Fare

In [479]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,-0.515308,1,0,-0.502445,2
1,2,1,1,0,0.703343,1,0,0.786845,0
2,3,1,3,0,-0.210646,0,0,-0.488854,2
3,4,1,1,0,0.474846,1,0,0.420730,2
4,5,0,3,1,0.474846,0,0,-0.486337,2

# datasets

In [480]:
target = df.Survived

In [481]:
data = df[['Pclass','Sex','Age','Fare']]

In [482]:
data.head()

   Pclass  Sex       Age      Fare
0       3    1 -0.515308 -0.502445
1       1    0  0.703343  0.786845
2       3    0 -0.210646 -0.488854
3       1    0  0.474846  0.420730
4       3    1  0.474846 -0.486337

In [483]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.025,shuffle=True)

In [484]:
print(len(X_test))
print(len(X_train))

23
868

In [485]:
for i in range(10):
    from sklearn.linear_model import LogisticRegression
    model = LogisticRegression()
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"Logistic Regression Accuracy: {score:.4f}")

Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826
Logistic Regression Accuracy: 0.7826

In [486]:
for i in range(10):
        
    from sklearn.svm import SVC
    
    model = SVC()
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"SVM Accuracy: {score:.4f}")

SVM Accuracy: 0.7826
SVM Accuracy: 0.7826
SVM Accuracy: 0.7826
SVM Accuracy: 0.7826
SVM Accuracy: 0.7826
SVM Accuracy: 0.7826
SVM Accuracy: 0.7826
SVM Accuracy: 0.7826
SVM Accuracy: 0.7826
SVM Accuracy: 0.7826

In [487]:
for i in range(10):
    from sklearn.neighbors import KNeighborsClassifier
        
    model = KNeighborsClassifier(n_neighbors=5)
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"KNN Accuracy: {score:.4f}")

KNN Accuracy: 0.8696
KNN Accuracy: 0.8696
KNN Accuracy: 0.8696
KNN Accuracy: 0.8696
KNN Accuracy: 0.8696
KNN Accuracy: 0.8696
KNN Accuracy: 0.8696
KNN Accuracy: 0.8696
KNN Accuracy: 0.8696
KNN Accuracy: 0.8696

In [488]:
for i in range(10):
    from sklearn.tree import DecisionTreeClassifier
    
    model = DecisionTreeClassifier()
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"Decision Tree Accuracy: {score:.4f}")

Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261
Decision Tree Accuracy: 0.8261

In [489]:
for i in range(10):
    from sklearn.ensemble import RandomForestClassifier
    
    model1 = RandomForestClassifier()
    model1.fit(X_train, y_train)
    score = model1.score(X_test, y_test)
    print(f"Random Forest Accuracy: {score:.4f}")

Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696
Random Forest Accuracy: 0.8696

In [505]:
for i in range(10):
    from sklearn.ensemble import GradientBoostingClassifier
    
    model = GradientBoostingClassifier()
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"Gradient Boosting Accuracy: {score:.4f}")

Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130
Gradient Boosting Accuracy: 0.9130

In [491]:
for i in range(10):
    from sklearn.ensemble import AdaBoostClassifier
    
    model = AdaBoostClassifier()
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"AdaBoost Accuracy: {score:.4f}")

AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696
AdaBoost Accuracy: 0.8696

In [492]:
for i in range(10):
    from sklearn.naive_bayes import GaussianNB
    
    model = GaussianNB()
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"Naive Bayes Accuracy: {score:.4f}")

Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826
Naive Bayes Accuracy: 0.7826

In [493]:
for i in range(10):
    from sklearn.linear_model import SGDClassifier
    
    model = SGDClassifier()
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"SGD Accuracy: {score:.4f}")

SGD Accuracy: 0.7391
SGD Accuracy: 0.7826
SGD Accuracy: 0.6087
SGD Accuracy: 0.7826
SGD Accuracy: 0.7826
SGD Accuracy: 0.7826
SGD Accuracy: 0.7826
SGD Accuracy: 0.7826
SGD Accuracy: 0.7391
SGD Accuracy: 0.7826

In [494]:
for i in range(10):
    import xgboost as xgb
    
    model = xgb.XGBClassifier(use_label_encoder=False)
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"XGBoost Accuracy: {score:.4f}")

XGBoost Accuracy: 0.8696

C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost Accuracy: 0.8696
XGBoost Accuracy: 0.8696

C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost Accuracy: 0.8696
XGBoost Accuracy: 0.8696
XGBoost Accuracy: 0.8696

C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost Accuracy: 0.8696
XGBoost Accuracy: 0.8696
XGBoost Accuracy: 0.8696
XGBoost Accuracy: 0.8696

C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:48:49] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

# now we test on test data

In [506]:
test = pd.read_csv('test.csv')

In [507]:
test = test.drop('Name', axis=1)
test = test.drop('Cabin', axis=1)
test = test.drop('Ticket', axis=1)
#Embarked_encoder = LabelEncoder()
#Embarked_encoder = Embarked_encoder.fit(df.Embarked)
test.Embarked=Embarked_encoder.transform(test.Embarked)
test = test.fillna(25)
#sex_encoder = LabelEncoder()
#sex_encoder = sex_encoder.fit(df.Sex)
test.Sex=sex_encoder.transform(test.Sex)
#prices=df.Age
#Mean_Age = np.mean(df.Age)
#Std_Age = np.std(df.Age)
test.Age = (test.Age - Mean_Age) / Std_Age
#Mean_Fare = np.mean(df.Fare)
#Std_Fare = np.std(df.Fare)
test.Fare = (test.Fare - Mean_Fare) / Std_Fare

In [508]:
test.head()

   PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0          892       3    1  0.436763      0      0 -0.490783         1
1          893       3    0  1.388834      1      0 -0.507479         2
2          894       2    1  2.531319      0      0 -0.453367         1
3          895       3    1 -0.134480      0      0 -0.474005         2
4          896       3    0 -0.515308      1      1 -0.401017         2

In [509]:
test= test[['Pclass','Sex','Age','Fare']]

In [510]:
y=model.predict(test)

In [511]:
test = pd.read_csv('test.csv')

In [512]:
test['Survived'] = y

In [513]:
final = test[['PassengerId','Survived']]

In [514]:
final.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [515]:
final.to_csv('data8.csv', index=False)